{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <div class="jumbotron">
        Registered: {{ registered }}
        {% if registered %}
            <h1>Thanks you for registering!</h1>
        {% else %}
            <h1>Register Here!</h1>
            <h3>Fill out the forms:</h3>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        {% endif %}
    </div>

{% endblock %}